In [56]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
from sklearn.preprocessing import OneHotEncoder
import os
import sys
module_path = os.path.abspath(os.path.join('/Users/briangraham/insight/trailrec/'))
if module_path not in sys.path:
    sys.path.append(module_path)
import model

In [78]:
trail_data,indices = model.get_trail_data()
trail_data = model.get_clean_data(trail_data)

In [30]:
cosine_sim = model.model_tfidf(trail_data)

In [46]:
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(trail_data['description'])

In [75]:
trail_data.columns

Index(['index', 'trail_id', 'Altitude change', 'Altitude end', 'Altitude max',
       'Altitude min', 'Altitude start', 'Avg reverse time', 'Avg time',
       'Bike type', 'Difficulty rating', 'Direction', 'Distance climb',
       'Distance down', 'Global Ranking', 'Grade', 'Grade max', 'Grade min',
       'Physical rating', 'Ride in rain', 'Riding area', 'TTFs on trail',
       'Trail Usage', 'Trail type', 'avg_time', 'city', 'climb', 'descent',
       'description', 'distance', 'latitude', 'longitude', 'rating', 'state',
       'votes', 'Climb Difficulty', 'Distance flat'],
      dtype='object')

In [87]:
trail_data_categorical = trail_data[['Difficulty rating', 'Direction','Physical rating',
                                     'Ride in rain','Trail Usage', 'Trail type','Climb Difficulty']]

In [89]:
trail_data_categorical.head()

,Difficulty rating,Direction,Physical rating,Ride in rain,Trail Usage,Trail type,Climb Difficulty
0,Black Diamond,Downhill Primary,Hard,Yes,Biking Primary,Singletrack,None
1,Blue,None,None,Yes,Biking Primary,Singletrack,None
2,Black Diamond,None,None,None,None,Singletrack,None
3,White,None,Easy,None,Multi-use,Paved Path,Green
4,Blue,Both Directions,Moderate,Yes,Multi-use,Singletrack,Green

In [92]:
trail_data_numerical = trail_data[['Altitude change', 'Altitude end', 'Altitude max','Altitude min',
    'Altitude start','Distance climb','Distance down',
    'Grade', 'Grade max', 'Grade min',
    'climb', 'descent','distance','rating','votes','Distance flat']]

In [93]:
trail_data_numerical.head()

,Altitude change,Altitude end,Altitude max,Altitude min,Altitude start,Distance climb,Distance down,Grade,Grade max,Grade min,climb,descent,distance,rating,votes,Distance flat
0,-1508.0,349,1857.0,349,1857,0.027462,2.000000,-18.592,-318.294,11.070,6,-1513,2.000000,4.55,13,NaN
1,-191.0,2446,2636.0,2446,2636,0.027462,0.379545,-8.579,-23.766,17.378,24,-215,0.421591,3.50,8,0.014394
2,-694.0,4931,5625.0,4918,5625,0.065152,0.472727,-24.429,-57.443,9.941,22,-716,0.537879,3.20,5,NaN
3,-46.0,1054,NaN,1054,1100,0.014583,0.244697,-3.242,-8.697,10.616,8,-54,0.268371,1.00,1,0.009091
4,-0.0,2638,2638.0,2635,2638,0.014015,0.021780,NaN,-4.765,3.158,3,-3,0.061364,4.00,1,0.012121